

.section11{
    background-image: url('img/Ratskeller_Mls_015.jpg');
    height:60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    display: flex;
    animation:  15s linear infinite;

 
 }

 .about{
    margin-top: 8rem;
    margin-bottom: 8rem;
    font-size: 1.5rem;
    font-family: merriweather;
 }

 .about p{
    width: 60%;
    margin: 0 auto;
    
 }

 .menu1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}
.menu11 img{
    width: 90%;
    height: 400px;
}

.menu22{
    padding: ;
    border: 2px solid black;
    width: 80%;
    height: 400px;
    align-self: center;
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    
}

.sub11{
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;

}

.sub22{
   padding: .2rem 1rem;
    font-size: 1rem;
}

.menu33{
    padding: ;
    border: 2px solid black;
    width: 80%;
    height: 400px;
    align-self: center;
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    
}

.footnav{
    margin-top: 4rem;
}

@media only screen and (max-width: 800px){
    .section11{
        height: 40vh;
        background-position: center;
      }
  
    .about{
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 1.5rem;
        font-family: merriweather;
     }
     .about p{
        width: 90%;
        font-size: .9rem;
     }
     .menu11 img{
        width: 100%;
     }
     .menu33{
        width: 100%;
        height: 400px;
        margin-bottom: 2rem
    }

    .menu22{
        width: 100%;
        height: 400px;
        
    }

    .menu1{
        width: 100%;
    }

    .footnav{
        margin-top: .5rem;
    }

    
.menu22{
    margin-top: 1.5rem;
}
}


  