

.section111{
    background-image: url('img/6.jpg');
    height:60vh;
    width: 100%;
    background-position: 30% 22%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    display: flex;
    animation:  15s linear infinite;

 
 }

.services h1{
    font-family: merriweather;
    
    margin-top: 4rem;
}
.services p{
    width: 50%;
    margin: 0 auto;
}
.services{
    margin-bottom: 5rem;
}
@media only screen and (max-width: 800px){
    .paragraph0{
        width: 60%;
    }
    .services p{
        width: 80%;
        margin: 0 auto;
    }

    .services h1{
        font-family:'Satisfy', cursive;
        margin-top: 1rem;
    }
}